.title {
  text-align: center;
}

.report-list {
  max-width: 700px;
  margin: 48px auto;
}

.card {
  height: 70px;
  margin: 20px;
}

mat-card-content {
  display: flex;
  align-items: center;

  .details {
    flex: 1;
    margin: 0 20px;
  }
}

.source-image {
  width: 68px;
  height: 68px;
  border-radius: 3px;
  img {
    object-fit: cover;
    width: 68px;
    height: 68px;
  }
}
