<h2 class="title">Fire reports</h2>
<div class="report-list">
  <ng-container *ngFor="let report of reports">
    <mat-card class="card">
      <mat-card-content>
        <div class="source-image">
          <img
            [attr.src]="getThumbnail(report?.payload?.doc?.data()?.source)"
          />
        </div>
        <div class="details">
          <p>{{ report?.payload?.doc?.data()?.details }}</p>
          <ng-container *ngIf="report?.payload?.doc?.data()?.zone?.description"
            >Location:
            {{ report?.payload?.doc?.data()?.zone?.description }}</ng-container
          >
        </div>

        <button
          mat-raised-button
          color="accent"
          color="accent"
          (click)="createIncident()"
        >
          Create Incident
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
