<h2 mat-dialog-title>Send Fire Alert</h2>
<mat-dialog-content>
  <form [formGroup]="form" layout="column">
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea
        #textarea
        matInput
        placeholder="Enter message"
        required
        formControlName="message"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="sendSms(textarea.value)">
    Send
  </button>
</mat-dialog-actions>
