<div class="page-container">
  <div class="side-bar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="incident-report-feed"
          ><mat-icon>report</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="incident-reports"
          ><mat-icon>fireplace</mat-icon></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="zones"
          ><mat-icon>fireplace</mat-icon></a
        >
      </li>
    </ul>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
