<div class="page-container">
  <header></header>
  <div class="side-bar">
    <div class="menu">
      <a class="nav-link active" routerLink="incident-report-feed"
        ><mat-icon>home</mat-icon>Reports</a
      >
      <a class="nav-link" routerLink="incident-reports"
        ><mat-icon>fireplace</mat-icon>Incident</a
      >
      <a class="nav-link" routerLink="zones"
        ><mat-icon>fireplace</mat-icon>Zones</a
      >
    </div>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
