<h2 mat-dialog-title>{{ title }}</h2>
<p></p>
<mat-dialog-content>
  <form [formGroup]="form" layout="column">
    <mat-form-field>
      <mat-label>Status</mat-label>
      <textarea
        matInput
        placeholder="Enter a status"
        required
        formControlName="status"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
      ></textarea>
    </mat-form-field>
    <span flex="5"></span>
    <mat-form-field>
      <mat-select
        matInput="matInput"
        placeholder="Severity"
        formControlName="severity"
      >
        <mat-option value="critical">Critical</mat-option>
        <mat-option value="high">High</mat-option>
        <mat-option value="medium">Medium</mat-option>
        <mat-option value="low">Low</mat-option>
      </mat-select>
    </mat-form-field>
    <span flex="5"></span>
    <mat-form-field>
      <mat-select
        matInput="matInput"
        placeholder="Zone"
        formControlName="zones"
        multiple
      >
        <mat-option
          *ngFor="let zone of zones"
          [value]="zone?.payload?.doc?.data()?.code"
        >
          {{ zone?.payload?.doc?.data()?.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span flex="5"></span>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    color="accent"
    (click)="save(form.value)"
  >
    {{ action }}
  </button>
</mat-dialog-actions>
