<h2 class="title">Fire Incidents</h2>
<button
  mat-raised-button
  color="accent"
  color="accent"
  (click)="createIncident()"
>
  Create Incident
</button>
<div class="incident-list">
  <ng-container *ngFor="let incident of incidents">
    <mat-card class="card">
      <mat-card-content>
        <div>Status: {{ incident?.payload?.doc?.data()?.status }}</div>
        <div>Severity: {{ incident?.payload?.doc?.data()?.severity }}</div>
        <div>
          Zones:
          <span *ngFor="let zone of incident?.payload?.doc?.data()?.zones"
            >{{ zone }},
          </span>
        </div>
        <button
          mat-raised-button
          color="accent"
          color="accent"
          (click)="sendMessageNotif()"
        >
          Send Message Alert
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
