.title {
  text-align: center;
}

.incident-list {
  max-width: 700px;
  margin: 48px auto;
}

.card {
  height: 70px;
  margin: 20px;
}

mat-card-content {
  display: flex;
  align-items: center;

  .details {
    flex: 1;
  }
}

button {
  margin-left: 20px;
}
