<h2 mat-dialog-title>{{ title }}</h2>
<p></p>
<mat-dialog-content>
  <form [formGroup]="form" layout="column">
    <mat-form-field>
      <input matInput="matInput" placeholder="Code" formControlName="code" />
    </mat-form-field>
    <span flex="5"></span>
    <mat-form-field>
      <input matInput="matInput" placeholder="Name" formControlName="name" />
    </mat-form-field>
    <span flex="5"></span>
    <textarea
      matInput
      placeholder="Enter description"
      formControlName="description"
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
    ></textarea>
    <span flex="5"></span>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="save(form.value)">
    {{ action }}
  </button>
</mat-dialog-actions>
